html, body {
	margin: 20px;
	padding: 0px;
	background-color: #fff;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
}

input {
    padding:3px;
    width:120px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border:2px solid #9b9b9b;
    padding: 5px;
}

th, td{
    width:130px;
}

.content {
    font-family: "Arial";
    font-size: 12px;
    display: inline-block;
    text-align:center;
}
.contentItem {
    display: inline-block;
    margin:5px;
    background-color:#f3f3f3;
    padding:10px;
    border:1px solid #c8c8c8;
    text-align:left;
}

.top {
    margin-bottom:10px;
    vertical-align: top;
    text-align: left;
}

